/* https://utopia.fyi/type/calculator?c=320,16,1.125,1140,22,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

@layer base {
  :root {
    --step--2: clamp(0.79rem, 0.75rem + 0.18vw, 0.88rem);
    --step--1: clamp(0.89rem, 0.81rem + 0.41vw, 1.1rem);
    --step-0: clamp(1rem, 0.85rem + 0.73vw, 1.38rem);
    --step-1: clamp(1.13rem, 0.89rem + 1.16vw, 1.72rem);
    --step-2: clamp(1.27rem, 0.92rem + 1.72vw, 2.15rem);
    --step-3: clamp(1.42rem, 0.93rem + 2.46vw, 2.69rem);
    --step-4: clamp(1.6rem, 0.92rem + 3.42vw, 3.36rem);
    --step-5: clamp(1.8rem, 0.87rem + 4.67vw, 4.2rem);
    --step-6: clamp(2.03rem, 0.77rem + 6.28vw, 5.25rem);
    --step-7: clamp(2.28rem, 0.61rem + 8.34vw, 6.56rem);
    --step-8: clamp(2.57rem, 0.37rem + 10.99vw, 8.2rem);
    --step-9: clamp(2.89rem, 0.01rem + 14.36vw, 10.24rem);
  }

  h1 {
    @apply leading-none;
  }
  h2 {
    @apply leading-none;
  }
  h3 {
    @apply leading-none;
  }
}
