@import "util";
/* CORES DO SITE
------------------------------------------------ */
$azul-escuro: #4a6184;
$azul-medio: #dfe5ef;
$azul-medio2: #bfcee5;
$navyblue-escuro: #161357;
$navyblue-medio: #90a2b4;
$navyblue-claro: #ededed;


#principal {
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  &.block {
    overflow: hidden;
  }
  color: $azul-escuro !important;
}

html,
body {
  scroll-behavior: smooth;
}

img {
  @extend .img-fluid;
  object-fit: cover;
  object-position: center top;
  display: block;
  //LAZY LOAD
  opacity: 1;
  transition: opacity 0.3s;
  &[data-src] {
    opacity: 0;
  }
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  @extend %fade;
  color: #000;
  text-decoration: none;
  &:hover,
  &:focus {
    @extend %fade;
    color: $azul-medio;
    text-decoration: none;
  }
}

p {
  @extend %font-light;
  font-size: rem(18);
  line-height: 2;
}

/* TITULOS BOOTSTRAP
------------------------------------------------ */
.titles {
  @extend %font-medium;
  &-big {
    @include tamfont(38, 48);
  }
  &-medium {
    @include tamfont(28, 38);
  }
}

.secao {
  // @extend .clearfix;
  padding: 3rem 0;
}

/*  BOTÕES
------------------------------------------------ */
.btn {
  &-azul {
    @extend %font-medium;
    background-color: $azul-escuro;
    font-size: rem(28);
    padding: 0.82rem 2rem;
    color: #fff;
    &:hover {
      opacity: 0.9;
      color: #fff;
    }
    @media (max-width: 767.98px) {
      width: 90% !important;
    }
  }
}

/* FORMS
------------------------------------------------ */
.form-control {
}
label {
  display: block;
  cursor: pointer;
}

/* MENU HOVER BOOTSTRAP
----------------------------------------------- */

@media (min-width: 992px) {
  .navbar .navbar-nav > li.dropdown > ul {
    display: block;
    opacity: 0;
    visibility: hidden;
    /* subtle fade effect */
    -moz-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .navbar .navbar-nav > li.dropdown:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
